/* 若你有使用到中文需要的編碼宣告 */
@charset "utf-8";

/* 文件開頭說明 */
/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
*/

/* 目錄、區段的註解 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content .............. You are reading it!
 * Globed .............. Set common styles
 * Layout .............. Set grid
 * Components .............. Set components styles
 * Pages .............. Set different page styles
 * Utility .............. Set utility tools
 */

/* -------------------------- *\
	Globed
\* -------------------------- */
* {
  position: relative;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  margin: 0;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* -------------------------- *\
	Layout
\* -------------------------- */
// /變數顏色/
$bgc--default: #f3f4f5;
$bgc--primary: #022873;
$bgc--secondary: #f2bb13;

$bgc--positive: #f2a516;
$bgc--negative: #f24405;
$bgc--alert: #f25d50;

//中性色
$bgc--black: #151730;
$bgc--dark-grey-1: #40414f;
$bgc--dark-grey-2: #686c71;
$bgc--light-grey-1: #b2bac4;
$bgc--light-grey-2: #dadfe4;
$bgc--white: #fbfbfb;
//color
$color--default: #f3f4f5;
$color--primary: #022873;
$color--secondary: #f2bb13;

$color--positive: #f2a516;
$color--negative: #f24405;
$color--alert: #f25d50;

//中性色
$color--black: #151730;
$color--dark-grey-1: #40414f;
$color--dark-grey-2: #686c71;
$color--light-grey-1: #b2bac4;
$color--light-grey-2: #dadfe4;
$color--white: #fbfbfb;

/* shopping_cart*/
.shopping_cart {
  background-image: url(../img/shopping-cart.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
  //   padding: 0;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  //   border: 1px solid seagreen;
  &:hover {
    // 這邊一開始把hover寫shopping_cart_content裡面導致怎樣都沒反應
    //應該是要從父元素去觸發才對,畢竟content已經none怎麼hover
    .shopping_cart_content {
      display: block;
    }
  }
  &::before {
    content: attr(data-count);
    /* data-count這個值是為了JS可以動態控制偽元素的content */
    position: absolute;
    // border: 1px solid bisque;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color: $color--light-grey-2;
    width: 12px;
    height: 12px;
    background-color: $bgc--alert;
    right: 0;
    top: 0;
  }
  .shopping_cart_content {
    width: 50vh;
    height: 50vh;
    border-radius: 5px;
    position: absolute;
    z-index: 500;
    right: 10px;
    top: 100%;
    background-color: rgba($bgc--light-grey-2, 1);
    //   平常是隱藏
    display: none;
    .shopping_cart_title {
      margin-bottom: 16px;
      border-bottom: 1px dashed $bgc--dark-grey-2;
      color: $color--primary;
    }
    .shopping_cart_item {
      font-size: 14px;
      display: flex;
      align-items: center;
      .shopping_cart_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        margin-right: 8px;
        margin-left: 8px;
      }
      .shopping_cart_link {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .shopping_cart_quantity {
        display: flex;
        align-items: center;
        margin: 0 8px;
        padding: 0 8px;

        .shopping_cart_input {
          width: 30px;
          border-radius: 5px;
          border: none;
        }
      }
      .shopping_cart_price {
        color: $color--alert;
        display: flex;
        white-space: nowrap;
      }
      .shopping_cart_delete {
        i {
          color: $color--dark-grey-1;
          font-size: 20px;
          margin: 0 8px;
          transition: all 0.3s;
        }
        &:hover {
          i {
            color: $color--dark-grey-2;
          }
        }
        &:active {
          i {
            color: $color--dark-grey-1;
          }
        }
      }
    }
    .shopping_cart_info {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      left: 0;
      bottom: 0;
      overflow: hidden;
      border-top: 1px dashed $bgc--dark-grey-2;
      padding-top: 8px;
      margin-bottom: 8px;
      .shopping_cart_btn {
        font-size: 12px;
        font-weight: 600;
      }
      .total_price {
        color: $color--primary;
      }
    }
  }
}
/* btn_add & btn_sub*/
.btn_add,
.btn_sub {
  padding: 4px 4px;
  // border: 1px solid black;
  background-color: $bgc--light-grey-2;
  font-weight: 400;
  font-size: 20px;
  &:active {
    background-color: $bgc--light-grey-1;
  }
  .btn_add {
    margin-right: 8px;
  }
  .btn_sub {
    margin-left: 8px;
  }
}

/* Utility*/

.demo {
  pointer-events: none;
  opacity: 0.6;
}
